host_AndroidStudio/.gradle/
host_AndroidStudio/.idea/
host_AndroidStudio/app/.cxx/
host_AndroidStudio/app/build/
host_AndroidStudio/local.properties
host_mingw64linux/build/
*.exe
*.o
*.a
*.so
host_AndroidStudio/app/src/main/cpp/glm/
host_AndroidStudio/app/src/main/assets/NotoSans-Regular.ttf
